@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;500;700;800&family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection,
a::selection,
p::selection {
  color: #f1f1f1;
  background-color: #121212;
}
/* Fonts and body */
body {
  font-family: "Almarai", sans-serif;
  margin: 0;
}

@font-face {
  font-family: w;
  src: url(./font/PPMori-SemiBold.otf);
}
@font-face {
  font-family: p;
  src: url(./font/PPMori-Extralight.otf);
}
/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0e001e;
}

::-webkit-scrollbar-thumb {
  background: #202020;
}

::-webkit-scrollbar-thumb:hover {
  background: #121212;
}

/* Loader */
.center-body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #121212;
}

.loader-circle-103 {
  width: 50px;
  height: 50px;
  position: relative;
  background-color: #fff;
  border-radius: 50px;
  z-index: 2;
}

.loader-circle-103::before,
.loader-circle-103::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #121212;
  animation: anm-CL-103-rotate 2s linear infinite;
}

.loader-circle-103::before {
  bottom: 30px;
  transform-origin: center bottom;
  clip-path: circle(50% at 50% 100%);
  z-index: 1;
}

.loader-circle-103::after {
  top: 30px;
  transform-origin: center top;
  clip-path: circle(50% at 50% 0);
  z-index: 1;
}

@keyframes anm-CL-103-rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

/* Navigation bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 2px 30px 2px 30px;
}

.navigation {
  display: flex;
}

.logo h3 {
  font-size: 24px;
  font-weight: 400;
  color: #333;
  letter-spacing: 2px;
  cursor: default;
}

.nav-item,
.nav-itemsec {
  display: flex;
  align-items: center;
}

.nav-item h4,
.nav-itemsec h4,
.footer-email,
.footer-telp {
  margin-right: 5px;
  font-size: 13px;
  font-weight: 500;
  color: #242424;
  cursor: pointer;
  transition: 0.6s ease;
  border: 1px solid rgb(186, 186, 186);
  border-radius: 1rem;
  padding: 5px 15px;
}

.nav-itemsec {
  margin-right: 30px;
  margin-left: 30px;
}

.nav-item h4:hover {
  color: #333;
  border: 1px solid #242424;
}

.language p {
  font-size: 14px;
  font-weight: 400;
  color: #777;
  cursor: pointer;
  margin-left: 1rem;
  border-bottom: 1px solid grey;
}

/* Plantique section */
.plantique {
  margin: 0 2rem 5rem 2rem;
}

.plant-header {
  font-family: 'Space Mono', monospace;
  width: max-content;
}

.company {
  margin: 12rem 0 0 0;
}

.company span {
  border-right: 1px solid black;
  margin-left: 10px;
  opacity: 0;
  animation: glicth 0.8s ease-in-out infinite;
}

@keyframes glicth {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.founder {
  line-height: 0.5;
}

.plantique h1 {
  font-family: "w";
  font-weight: 700;
  font-size: 6.6rem;
  line-height: 0.3;
  letter-spacing: 0.7px;
}

#clock {
  font-weight: 300;
  width: max-content;
  position: relative;
  right: -78rem;
  top: -16rem;
  border-bottom: 0.5px solid black;
}

/* Gallery section */
.gallery {
  border-radius: 15px;
  margin-top: 10.2rem;
}

.thumbnail {
  width: 95vw;
  margin: 0 auto;
}

.thumbnail img {
  
  width: 100%;
  height: 80vh;
  object-fit: cover;
  filter:saturate(0%);

}

.spline {
  position: absolute;
  width: 50vw;
  height: 50vh;
  top: 0;
  right: 0;
  scale: 0.5;
}

.setkontilapjang {
  width: max-content;
  margin: 0 auto -1rem auto;
  letter-spacing: 1.3rem;
  line-height: 1;
}

.setkontilapjang h5 {
  font-weight: 300;
}

.desc {
  font-size: 1.05rem;
  width: 29%;
  text-align: center;
  margin: 7rem auto;
  color: #686868;
  font-weight: 400;
  line-height: 1.4;
}

/* Us section */
.works {
  padding: 1.6rem 1rem;
}

.works h1 {
  font-family: "w";
  width: max-content;
  text-align: center;
  margin: 0 auto;
  letter-spacing: 1.7px;
  padding: 2rem 0 0 0;
  font-weight: 300;
  font-size: 4.8rem;
}

.works-title span {
  color: white;
  padding: 1.7rem 0 1.7rem 1.8rem;
  background-color: black;
}

.works-menu {
  width: max-content;
  font-weight: 400;
  margin: 2.9rem auto 0 auto;
}

.works-item {
  display: table-cell;
  position: relative;
  padding: 15px 0;
}

.works-link {
  color: #121212;
  text-decoration: none;
  letter-spacing: 0.25em;
  display: inline-block;
  padding: 15px 13px;
  position: relative;
}

.works-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #121212;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.works-link:hover:after {
  width: 100%;
  left: 0;
}

.line {
  position: relative;
}

.line span {
  position: absolute;
  padding: 48rem 0 0 0;
  border-left: 1px solid black;
  top: 2rem;
  right: 14rem;
  z-index: -1;
}
.project-item {
  margin: 0 auto;
}
.recent {
  padding: 6rem 2rem 0 2rem;
  line-height: 1px;
  font-weight: 400;
}

.projects {
  display: flex;
  width: max-content;
  margin: -1rem auto 5rem auto;
  width: 95vw;
  margin-left: auto;
  margin-right: auto;
}

.snip1218 img {
  height: 320px;
  border-radius: 3%;
  transition: 0.3s ease-in-out;
}

.snip1218:hover img {
  transform: scale(1.06);
}

figure.snip1218 {
  position: relative;
  margin: 20px;
  min-width: 220px;
  max-width: 465px;
  width: 100%;
  background: transparent;
  font-size: 13px;
  overflow: hidden;
  border-radius: 3%;
}

figure.snip1218 figcaption {
  padding: 15px 10px 0 10px;
  background-color: #ffffff;
}

figure.snip1218 h3 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-weight: 400;
}

figure.snip1218 h3 span {
  font-weight: 800;
}

.project-type {
  line-height: 1px;
  font-size: 14px;
}

/* marquee */
marquee {
  font-family: p;
  font-size: 13px;
  color: #8c8c8c;
  text-transform: uppercase;
  margin: 2rem 0;
}

/* ppe */
.ppe-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #121212;
  padding: 0;
}
.ppe-list {
  font-size: 3.2rem;
  font-family: w;
  margin: 3.5rem auto 5.9rem auto;
  list-style: none;
}
.ppe-list li {
  line-height: 10px;
}
.ppe-list i {
  margin-right: 2rem;
}

.ppe{
  min-height: 90vh;
  width: 95%;
  position: relative;
  z-index: 9;
  margin: 0 2rem ;
  text-transform: uppercase;
  padding-top: 10rem
}
.ppe h3{
  font-size: 4.1rem;
  font-family: w;
  list-style: none;
  cursor: pointer;
}
.box{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 1rem;
  border-top: 2px solid #121212;
}
.box:nth-last-child(1){
  border-bottom: 2px solid #121212;
}
.cursor{
  height: 10px;
  width: 10px;
  border-radius: 50%;
  position: fixed;
  background-color: #121212;
  z-index: 8;
  transition: background-image ease 0.5s;
  background-position: center;
  background-size:cover ;
  mix-blend-mode: difference;
  pointer-events: none;
}

/* thing */
.thing-1 {
  margin: 4rem 0;
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.thing-left {
  width: 65vw;
}

.thing-image-left {
  width: 50vw;
  
  margin-left: auto;
  margin-right: auto;
}

.thing-image-left img {
  height: 110vh;
  object-fit: cover;
}

.thing-text-right p {
  width: 25vw;
}
.sub {
  filter: opacity(50%);
}

/* paper */
.paper {
  height: 100vh;
  background-color: #1c1c1c;
}
.paper h1 {
  font-family: p;
  text-transform: uppercase;
  text-align: center;
  font-size: 3.8rem;
  padding: 6.5rem 5rem 0 5rem;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;
}
.paper p {
  text-align: center;
  margin: 1rem 0 7rem 0;
  padding: 1rem;
  background-color: white;
  color: #121212;
  font-family: p;
}

.bg {
  display: flex;
  justify-content: center;
}
.bg img {
  filter: grayscale(1);
  margin: 0 auto;
  border-radius: 2%;
  box-sizing: border-box;
}
.about-btn {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: space-between;
}
.about-btn a {
  text-decoration: none;
  color: #121212;
  position: relative;
  left: auto;
  right: -3rem;
  bottom: -4rem;
  background-color: #ffffff;
  padding: 0.8rem 1.8rem;
  border-radius: 25px;
}
.about-btn i {
  margin-left: 1rem;
}


/* footer */
.footer-section {
  height: 43vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.logo-footer h1 {
  margin: 0 4rem;
  font-family: p;
  letter-spacing: 5.5px;
  font-size: 3.2rem;
}
.footer-end {
  display: flex;
  padding: 0.7rem 2.3rem 2rem 2.3rem;
  color: #3d3d3d;
  font-size: 0.8rem;
  justify-content: space-evenly;
}
.footer-item li {
  font-size: 15px;
  line-height: 30px;
  color: #3d3d3d;
}


/* Responsive styles */
@media screen and (max-width: 768px) {
  .nav-item {
    display: none;
  }

  .logo h3 {
    font-size: 20px;
  }

  nav {
    justify-content: space-between;
    padding: 15px;
  }
}
